.card {
  width: 100%;
  /* background-color: #0a356a; */
  height: 192px;
  margin: 16px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 48px;
  font-weight: bold;
  margin: 16px;
  width: 30%;
  line-height: 38px;
  font-style: italic;
  position: absolute;
}

.card__cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: space-between;
}

.card__txt {
  font-size: 20px;
  margin: 16px;
  width: 40%;
  line-height: 18px;
  text-align: right;
  font-weight: lighter;
}

.card__time {
  font-size: 12px;
  font-weight: bold;
  margin: 16px;
  text-align: right;
}
